<header>
  <div class="container header-list">
      <h1><%= link_to "Spotify Music Review App", root_path, id: "logo" %></h1>
      <ul class="header-list-ul">
         <li class="btn"><%= link_to "アカウント作成", signup_path %></li>
         <% if logged_in? %>
              <li><%= link_to "参加ユーザー", users_path %></li>
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
         <% else %>
             <li class="btn"><%= link_to "ログイン", login_path %></li>
         <% end %>
        <li class="btn"><%= link_to "このアプリについて", about_path %></li>
      </ul>
  </div>
</header>